* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Common */
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --primary-color: #10375c;
    --btn-color: #2e80ce;
    --text-secondary: #575f66;
}

.btn {
    display: flex;
    max-width: 205px;
    padding: 22px 24px;
    border-radius: 30px;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    font-size: 1.8rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
}

/* ==================================NAVIGATION ================================== */
.header {
    position: sticky;
    top: -20px;
    z-index: 2;
    background: #10375c;
}

.header__nav {
    padding: 30px 0 10px 0;
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
}

.header__menu {
    margin-left: 318px;
    display: flex;
    gap: 42px;
}

.header__link {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.75;
    transition: color 0.2s ease;
}

.header__link::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transform: scale(0.6);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.header__link:hover::before {
    opacity: 1;
    transform: scale(1);
}

.header__link:hover {
    color: #ffffff;
}

.header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.75;
    transition: color 0.2s ease;
}

.header__login:hover {
    color: #ffffff;
    text-decoration: underline;
}

.header__signup {
    min-width: 104px;
    font-size: 1.6rem;
    border-radius: 22px;
}

.header__signup:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================HERO================================== */
.hero {
    padding: 76px 0 110px 0;
    align-items: center;
    background: #a8bacd;
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 44%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__subtitle {
    margin-top: 22px;
    color: #003b6f;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__actions .btn--primary:hover {
    background: var(--btn-color);
    color: #ffffff;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__images {
    margin-left: 113px;
    display: flex;
    gap: 24px;
    position: relative;
}

.hero__image {
    border-radius: 6px;
}

.hero__image--large {
    width: 330px;
    height: 540px;
    z-index: 1;
    position: relative;
}

.hero__image--small {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    position: absolute;
    top: 65px;
    right: -204px;
}

/* ==================================SERVICE================================== */
.service {
    margin-top: 105px;
    padding: 65px 0;
    background: #dfebfc;
}

.service__header {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    text-align: center;
}

.service__desc {
    margin-top: 18px;
    color: var(--text-secondary);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
    text-align: center;
}

.service__body {
    margin-top: 70px;
    display: flex;
}

.service__image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    width: 40%;
    margin-left: 130px;
    margin-top: 35px;
}

.service__item {
    display: flex;
    padding: 21px 21px;
    background: #fff;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.service__info {
    margin-left: 19px;
}

.service__name {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.service__text {
    margin-top: 8px;
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service__item:hover {
    position: relative; /* to make sure the shadow appears above other elements */
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background 0.2s ease;
}

.service__item:hover .service__icon {
    background: #2e80ce;
}

.service__item:hover .service__icon svg path {
    fill: #fff;
}

.service__button {
    margin-top: 55px;
    max-width: 205px;
}

.service__button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================PROCESS================================== */
.process {
    margin-top: 96px;
}

.process__header {
    max-width: 468px;
}

.process__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.process__desc {
    margin-top: 18px;
    color: var(--text-secondary);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.process__list {
    margin-top: 86px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.process__item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #ffffff;
    position: relative;
    transition: transform 0.3s ease;
}

.process__name {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.process__text {
    max-width: 254px;
    margin-top: 28px;
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.process__link {
    display: inline-block;
    margin-top: 18px;
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.process__link:hover {
    color: var(--btn-color);
    font-weight: 400;
}

.process__item:hover {
    transform: translateY(-16px);
    cursor: pointer;
    border: 16px solid var(--btn-color);
}

/* ==================================FEATURE================================== */
.feature {
    margin-top: 100px;
    padding: 70px 0;
    background: #dfebfc;
}

.feature__body {
    display: flex;
    padding-bottom: 83px;
}

.feature__images {
    width: 50%;
    position: relative;
}

.feature__image {
    object-fit: cover;
    border-radius: 6px;
}

.feature__image--large {
    width: 512px;
    height: 370px;
}

.feature__image--small {
    width: 332px;
    height: 370px;
    position: absolute;
    top: 120px;
    right: 0;
}

.feature__content {
    margin-left: 130px;
    margin-top: 82px;
    max-width: 470px;
}

.feature__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.feature__text {
    margin-top: 18px;
    color: var(--text-secondary);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.feature__actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.feature__button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================TEAM================================== */
.team {
    margin-top: 50px;
    padding: 50px 0;
    background: #fff;
}

.team__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.team__button {
    margin-top: 38px;
    max-width: 205px;
}

.team__button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

.team__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.team__member {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.team__avatar {
    width: 270px;
    height: 290px;
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.team__member img {
    width: 100%;
    height: 100%;
    transition: 0.25s ease;
    object-fit: contain;
}

.team__member:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.team__info {
    margin-top: 12px;
}

.team__name {
    text-align: center;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.team__role {
    text-align: center;
    color: var(--text-secondary);
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.team__controls {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.team__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background: transparent;
    cursor: pointer;
    transition:
        background 0.2s ease,
        border 0.2s ease;
}

.team__control:hover {
    background: var(--btn-color);
    border: none;
}

.team__control:hover svg path {
    stroke: #fff;
}

/* ==================================APP================================== */
.app {
    margin-top: 265px;
    background: #2e80ce;
}

.app__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.app__image {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.app__content {
    max-width: 586px;
}

.app__title {
    width: 489px;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.app__text {
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.app__downloads {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.app__download {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.app__download:hover {
    opacity: 0.8;
}

/* ==================================NEWS================================== */
.news {
    margin-top: 85px;
    padding: 85px 0;
    background: #dfebfc;
}

.news__body {
    display: flex;
    align-items: center;
}

.news__header {
    padding: 68px 0;
}

.news__title {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

.news__link {
    display: inline-block;
    padding: 28px 0;
    text-decoration: none;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.news__link:hover {
    text-decoration: underline;
}

.news__controls {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    margin-top: 0;
}

.news__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background: transparent;
    cursor: pointer;
    transition:
        background 0.2s ease,
        border 0.2s ease;
}

.news__control:hover {
    background: var(--btn-color);
    border: none;
}

.news__control:hover svg path {
    stroke: #fff;
}

.news__list {
    margin-left: 130px;
    display: flex;
    gap: 30px;
}

.news__item {
    width: 270px;
    border-radius: 12px;
    overflow: hidden;
}

.news__item:hover .news__content {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
}

.news__image {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
    margin-left: -1px;
    transition: 0.25s ease;
}

.news__item:hover .news__image {
    transform: scale(1.1);
}

.news__content {
    border: 1px solid var(--btn-color);
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 18px 22px 22px 22px;
    transition: box-shadow 0.2s ease;
}

.news__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.news__text {
    margin-top: 10px;
    color: var(--text-secondary);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.news__more {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.news__more:hover {
    color: var(--btn-color);
    font-weight: 400;
}

/* ==================================WELCOME================================== */
.welcome {
    margin-top: 85px;
    padding: 85px 0;
    background: #e9f0fd;
}

.welcome__container {
    padding: 100px 178px;
}

.welcome__title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.welcome__divider {
    margin-top: 18px;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    margin-left: auto;
    margin-right: auto;
}

.welcome__text {
    margin-top: 18px;
    text-align: center;
    width: 617px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-secondary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.welcome__button {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.welcome__button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ===================================FOOTER================================= */
.footer {
    margin-top: 85px;
    padding: 100px 135px 42px 135px;
    background: var(--primary-color);
}

.footer__body {
    display: flex;
    gap: 78px;
}

.footer__logo {
    display: block;
}

.footer__desc {
    width: 336px;
    margin-top: 21px;
    color: #a9b3bb;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer__column {
    flex: 1;
}

.footer__heading {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 20px;
}

.footer__column ul {
    margin-bottom: 28px;
}

.footer__column ul li {
    margin-bottom: 12px;
}

.footer__link {
    text-decoration: none;
    color: #a9b3bb;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    transition: color 0.2s ease;
}

.footer__link:hover {
    color: #fff;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 28px;
}

.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition:
        background 0.2s ease,
        border 0.2s ease;
}

.footer__icon:hover {
    background: var(--btn-color);
}

.footer__icon:hover svg path {
    fill: #fff;
}

.footer__text {
    width: 273px;
    color: #a9b3bb;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer__form {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer__input {
    width: 212px;
    padding: 10px;
    border: 1px solid #406181;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background: transparent;
    color: #ffffff;
    outline: none;
    transition: border-color 0.2s ease;
}

.footer__input:focus {
    border-color: var(--btn-color);
}

.footer__button {
    width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
}

.footer__button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

.footer__divider {
    width: 1170px;
    height: 1px;
    background: #fff;
    margin: 28px auto 0;
}

.footer__copyright {
    margin-top: 28px;
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
