* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Common */
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --primary-color: #10375c;
    --btn-color: #2e80ce;
}

.btn {
    display: flex;
    min-width: 205px;
    padding: 22px 24px;
    border-radius: 30px;
    border: 2px solid var(--btn-color);
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
}

/* ==================================NAVIGATION ================================== */
.fixed-header {
    position: sticky;
    top: -20px;
    z-index: 2;
    background: #10375c;
}

.navbar-section {
    padding: 30px 0 10px 0;
    display: flex;
    align-items: center;
}

.navbar-section .menu-links {
    margin-left: 318px;
    display: flex;
    gap: 42px;
}

.menu-links .menu-item a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.75;
    transition: color 0.2s ease;
}

.menu-links .menu-item a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu-links .menu-item a:hover::before {
    opacity: 1;
    transform: scale(1);
}

.menu-links .menu-item a:hover {
    color: #ffffff;
}

.nav-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-btn .sign-in {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.75;
    transition: color 0.2s ease;
}

.nav-btn .sign-in:hover {
    color: #ffffff;
    text-decoration: underline;
}

.nav-btn .register {
    min-width: 104px;
    font-size: 1.6rem;
    border-radius: 22px;
}

.nav-btn .register:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================HERO================================== */
.hero-section {
    padding: 76px 0 110px 0;
    align-items: center;
    background: #a8bacd;
}

.hero-wrapper {
    display: flex;
    align-items: center;
}

.hero-text {
    max-width: 44%;
}

.hero-text .title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero-text .desc {
    margin-top: 22px;
    color: #003b6f;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero-text .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero-text .cta-group .hero-button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

.hero-text .cta-group .call-number {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.images-container {
    margin-left: 113px;
    display: flex;
    gap: 24px;
    position: relative;
}

.images-container .large-img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    z-index: 1;
    position: relative;
}

.images-container .small-img {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    position: absolute;
    top: 65px;
    right: -204px;
}

/* ==================================SERVICE================================== */
.service-section {
    margin-top: 105px;
    padding: 65px 0;
    background: #dfebfc;
}

.main-title {
    max-width: 468px;
}

.main-title .title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.main-title .desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.service-section .main-title {
    margin-left: auto;
    margin-right: auto;
}

.service-section .main-title .title {
    text-align: center;
}

.service-section .main-title .desc {
    text-align: center;
}

.service-section .service-wrapper {
    margin-top: 70px;
    display: flex;
}

.service-section .service-wrapper .service-img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-wrapper .service-content {
    width: 40%;
    margin-left: 130px;
    margin-top: 35px;
}

.service-content .menu-item {
    display: flex;
}

.service-content .menu-item {
    padding: 21px 21px;
    background: #fff;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.service-content .menu-info {
    margin-left: 19px;
}

.service-content .menu-info .title {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.service-content .menu-info .desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service-content .menu-item:hover {
    position: relative; /* to make sure the shadow appears above other elements */
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-content .menu-item .tooth-icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background 0.2s ease;
}

.service-content .menu-item:hover .tooth-icon {
    background: #2e80ce;
}

.service-content .menu-item:hover .tooth-icon svg path {
    fill: #fff;
}

.service-content .service-button {
    margin-top: 55px;
    max-width: 205px;
}

.service-content .service-button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================MORE================================== */
.more-section {
    margin-top: 105px;
    padding: 100px 0;
    background: #ffcbcb;
}

.more-section .more-group {
    margin-top: 86px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.more-group .more-item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #ffffff;
    position: relative;
    transition: transform 0.3s ease;
}

.more-group .more-item .item-title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.more-group .more-item .item-desc {
    max-width: 254px;
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.item-cta {
    display: inline-block;
    margin-top: 18px;
    text-decoration: none;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.item-cta:hover {
    color: var(--btn-color);
    font-weight: 400;
}

.more-group .more-item:hover {
    transform: translateY(-16px);
    cursor: pointer;
    border: 16px solid var(--btn-color);
}

/* ==================================FEATURE================================== */
.feature {
    margin-top: 170px;
    background: #eef3d9;
}

.feature-wrapper {
    display: flex;
    padding-bottom: 83px;
}

.feature-wrapper .image-group {
    width: 50%;
    position: relative;
}

.feature-wrapper .image-group .large-image,
.feature-wrapper .image-group .small-image {
    object-fit: cover;
    border-radius: 6px;
}

.feature-wrapper .image-group .large-image {
    width: 512px;
    height: 370px;
}

.feature-wrapper .image-group .small-image {
    width: 332px;
    height: 370px;
    position: absolute;
    top: 120px;
    right: 0;
}

.feature-wrapper .content-group {
    margin-left: 130px;
    margin-top: 82px;
    max-width: 470px;
}

.feature-wrapper .content-group .title {
    color: #10375c;
    font-size: 5rem;
    letter-spacing: -1px;
}

.feature-wrapper .content-group .feature-button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

/* ==================================MEMBER================================== */
.member {
    margin-top: 170px;
}

.member .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.member .title-wrapper .title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.member .title-wrapper .member-button {
    margin-top: 38px;
    max-width: 205px;
}

.member .title-wrapper .member-button:hover {
    background: var(--btn-color);
    color: #ffffff;
}

.member .list-member {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.list-member .list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.list-member .list-item .image-item {
    width: 270px;
    height: 290px;
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.list-member .list-item img {
    width: 100%;
    height: 100%;
    transition: 0.25s ease;
    object-fit: contain;
}

.list-member .list-item:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.list-member .list-item .info-item {
    margin-top: 12px;
}

.list-item .info-item .name {
    text-align: center;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.list-item .info-item .desc {
    text-align: center;
    color: #575f66;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.control-wrapper {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.control-wrapper .left-button,
.control-wrapper .right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    transition: background 0.2s ease, border 0.2s ease;
}

.control-wrapper .left-button:hover,
.control-wrapper .right-button:hover {
    background: var(--btn-color);
    border: none;
    cursor: pointer;
}

.control-wrapper .left-button:hover svg path,
.control-wrapper .right-button:hover svg path {
    stroke: #fff;
}

/* ==================================APPLICATION================================== */
.app {
    margin-top: 265px;
    background: #2e80ce;
}

.mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.mobile-wrapper .mobile-image {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.mobile-wrapper .content-group {
    max-width: 586px;
}

.mobile-wrapper .content-group .title {
    width: 489px;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.mobile-wrapper .content-group .desc {
    color: #fff;
}

.mobile-wrapper .cta-download {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.mobile-wrapper .cta-download .app-store:hover,
.mobile-wrapper .cta-download .google-play:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ==================================NEWS================================== */
.news {
    margin-top: 85px;
    padding: 85px 0;
    background: #fff5f5;
}

.news-wrapper {
    display: flex;
    align-items: center;
}

.news-cta {
    padding: 68px 0;
}

.news-cta .title {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

.news-cta .desc {
    display: inline-block;
    padding: 28px 0;
    text-decoration: none;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.news-cta .desc:hover {
    text-decoration: underline;
}

.news-cta .control-wrapper {
    justify-content: flex-start;
    margin-top: 0;
}

.news-list {
    margin-left: 130px;
    display: flex;
    gap: 30px;
}

.news-list .news-item {
    width: 270px;
    border-radius: 12px;
    overflow: hidden;
}

.news-list .news-item:hover .blog-info {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
}

.news-list .news-item .news-image {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
    margin-left: -1px;
    transition: 0.25s ease;
}

.news-list .news-item:hover .news-image {
    transform: scale(1.1);
}

.news-list .news-item .blog-info {
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 18px 22px 22px 22px;
}

.news-item .blog-info .title {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.news-item .blog-info .desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.news-item .blog-info .news-link {
    margin-top: 12px;
    color: #10375c;
}

.news-item .blog-info .news-link:hover {
    color: var(--btn-color);
}
